.elementor-4548 .elementor-element.elementor-element-2dad026:not(.elementor-motion-effects-element-type-background),
.elementor-4548 .elementor-element.elementor-element-2dad026>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #416286;

}

.elementor-4548 .elementor-element.elementor-element-2dad026 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 100px 0px 50px 0px;
}

.elementor-4548 .elementor-element.elementor-element-2dad026>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-4548 .elementor-element.elementor-element-9d80817>.elementor-element-populated {
    padding: 0px 15px 0px 15px;
}

.elementor-4548 .elementor-element.elementor-element-1b9ba91 .ct-logo img {
    max-height: 54px;
}

.elementor-4548 .elementor-element.elementor-element-1b9ba91>.elementor-widget-container {
    margin: 0px 0px 30px 0px;
}

.elementor-4548 .elementor-element.elementor-element-a2918f9 .ct-text-editor {
    color: #FFFFFF; 
}

.elementor-4548 .elementor-element.elementor-element-a2918f9 {
    font-family: "Barlow", Sans-serif;
    font-size: 16px;
    line-height: 24px;
}

.elementor-4548 .elementor-element.elementor-element-a2918f9>.elementor-widget-container {
    margin: 0px 0px 53px 0px;
    padding: 0% 11% 0% 0%;
}

.elementor-4548 .elementor-element.elementor-element-27a2018 .ct-heading .item--title {
    color: #FFFFFF;
    font-size: 18px;
    margin-bottom: 18px;
}

.elementor-4548 .elementor-element.elementor-element-7060cc4 .elementor-repeater-item-9f33d97.elementor-social-icon {
    background-color: #1073FC;
}

.elementor-4548 .elementor-element.elementor-element-7060cc4 .elementor-repeater-item-a67382b.elementor-social-icon {
    background-color: #FF6699;
}

.elementor-4548 .elementor-element.elementor-element-7060cc4 .elementor-repeater-item-0b2f6de.elementor-social-icon {
    background-color: #3366CC;
}

.elementor-4548 .elementor-element.elementor-element-7060cc4 {
    --grid-template-columns: repeat(0, auto);
    --icon-size: 19px;
    --grid-column-gap: 10px;
    --grid-row-gap: 0px;
}

.elementor-4548 .elementor-element.elementor-element-7060cc4 .elementor-social-icon {
    --icon-padding: 0.4em;
}

.elementor-4548 .elementor-element.elementor-element-7060cc4 .elementor-icon {
    border-radius: 3px 3px 3px 3px;
}

.elementor-4548 .elementor-element.elementor-element-513db30 .ct-heading .item--title {
    color: #FFFFFF;
    font-size: 18px;
    margin-bottom: 19px;
}

.elementor-4548 .elementor-element.elementor-element-513db30>.elementor-widget-container {
    margin: 24px 0px 0px 0px;
}

.elementor-4548 .elementor-element.elementor-element-790af6c .ct-link1 a {
    color: #FFFFFF;
    font-family: "Barlow", Sans-serif;
}

.elementor-4548 .elementor-element.elementor-element-790af6c .ct-link1 a:hover {
    color: #FFFFFF;
}

.elementor-4548 .elementor-element.elementor-element-1cafbf7 .ct-heading .item--title {
    color: #FFFFFF;
    font-size: 18px;
    margin-bottom: 19px;
}

.elementor-4548 .elementor-element.elementor-element-1cafbf7>.elementor-widget-container {
    margin: 24px 0px 0px 0px;
}

.elementor-4548 .elementor-element.elementor-element-e75f15b .ct-link1 a {
    color: #FFFFFF;
    font-family: "Barlow", Sans-serif;
}

.elementor-4548 .elementor-element.elementor-element-e75f15b .ct-link1 a:hover {
    color: #FFFFFF;
}

.elementor-4548 .elementor-element.elementor-element-ee7e276 .ct-heading .item--title {
    color: #FFFFFF;
    font-size: 18px;
    margin-bottom: 19px;
}

.elementor-4548 .elementor-element.elementor-element-ee7e276>.elementor-widget-container {
    margin: 24px 0px 0px 0px;
}

.elementor-4548 .elementor-element.elementor-element-8e47486 .ct-text-editor {
    color: #FFFFFF;
}

.elementor-4548 .elementor-element.elementor-element-8e47486 {
    font-family: "Barlow", Sans-serif;
    font-size: 16px;
    line-height: 24px;
}

.elementor-4548 .elementor-element.elementor-element-8e47486>.elementor-widget-container {
    margin: 0px 0px 31px 0px;
}

.elementor-4548 .elementor-element.elementor-element-8bae1e6 .ct-heading .item--title {
    color: #FFFFFF;
    font-size: 18px;
    margin-bottom: 21px;
}

.elementor-4548 .elementor-element.elementor-element-8bae1e6>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-4548 .elementor-element.elementor-element-8c067de .ct-mailchimp.ct-mailchimp1 .mc4wp-form .mc4wp-form-fields input {
    font-family: "Barlow", Sans-serif;
}

.elementor-4548 .elementor-element.elementor-element-8c067de .ct-mailchimp.ct-mailchimp1 .mc4wp-form .mc4wp-form-fields:before,
.elementor-4548 .elementor-element.elementor-element-8c067de .ct-mailchimp1.style3 .mc4wp-form [type="submit"] {
    background-color: #FFCC33;
}

.elementor-4548 .elementor-element.elementor-element-8c067de .ct-mailchimp1.style3 [type="submit"] {
    font-family: "Barlow", Sans-serif;
}

.elementor-4548 .elementor-element.elementor-element-ac42616 {
    --divider-border-style: solid;
    --divider-color: #111133;
    --divider-border-width: 2px;
}

.elementor-4548 .elementor-element.elementor-element-ac42616 .elementor-divider-separator {
    width: 100%;
}

.elementor-4548 .elementor-element.elementor-element-ac42616 .elementor-divider {
    padding-block-start: 0px;
    padding-block-end: 0px;
}

.elementor-4548 .elementor-element.elementor-element-ac42616>.elementor-widget-container {
    margin: 55px 0px 0px 0px;
}

.elementor-4548 .elementor-element.elementor-element-6cf2936 .ct-text-editor {
    text-align: center;
    color: #FFFFFF;
}

.elementor-4548 .elementor-element.elementor-element-6cf2936 .ct-text-editor a {
    color: #FFC128;
    font-weight: 700;
}

.elementor-4548 .elementor-element.elementor-element-6cf2936 .ct-text-editor a.link-underline {
    border-color: #FFC128;
}

.elementor-4548 .elementor-element.elementor-element-6cf2936 .ct-text-editor a:hover {
    color: #FFFFFF;
}

.elementor-4548 .elementor-element.elementor-element-6cf2936 {
    font-family: "Barlow", Sans-serif;
    font-size: 14px;
    line-height: 24px;
}

.elementor-4548 .elementor-element.elementor-element-6cf2936>.elementor-widget-container {
    padding: 15px 0px 15px 0px;
}

@media(min-width:768px) {
    .elementor-4548 .elementor-element.elementor-element-7b5e3d1 {
        width: 36%;
    }

    .elementor-4548 .elementor-element.elementor-element-354e76f {
        width: 18%;
    }

    .elementor-4548 .elementor-element.elementor-element-d9617c3 {
        width: 16%;
    }

    .elementor-4548 .elementor-element.elementor-element-ec659a5 {
        width: 30%;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-4548 .elementor-element.elementor-element-7b5e3d1 {
        width: 50%;
    }

    .elementor-4548 .elementor-element.elementor-element-354e76f {
        width: 50%;
    }

    .elementor-4548 .elementor-element.elementor-element-d9617c3 {
        width: 50%;
    }

    .elementor-4548 .elementor-element.elementor-element-ec659a5 {
        width: 50%;
    }
}

@media(max-width:1024px) {
    .elementor-4548 .elementor-element.elementor-element-513db30>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }
}

@media(max-width:767px) {
    .elementor-4548 .elementor-element.elementor-element-513db30>.elementor-widget-container {
        margin: 24px 0px 0px 0px;
    }
}